/* Dichiarazioni dei colori */

:root {
    --118-light: 230, 247, 255;
    --118-medium-light: 135, 217, 255;
    --118-medium: 51, 187, 255;
    --118-medium-dark: 0, 153, 230;
    --118-dark: 0, 119, 179;
    --118-darkest: 0, 32, 48;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 4rem 0 0;
    background-color: rgb(var(--118-light));
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

/* Allineamenti delle tabelle generici, spaziature per mobile */

.table td, .table th {
    vertical-align: middle !important;
}

.row {
    /* align-items: center !important; */
}

.row > div {
    overflow-wrap: break-word;
}

@media (max-width: 991.8px) {
    .table {
        width: 100%;
        overflow-x: auto;
    }

    .container {
        overflow-x: auto;
    }
}

/* Evidenzia il link corrente ovunque */

.current {
    font-weight: bold !important;
    pointer-events: none;
    cursor: default;
}

/* Visual */
.flex-wrap {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.exception {
    background: rgba(var(--118-darkest), 1);
    padding: 1rem;
    margin-right: 1rem;
    color: white;
    font-family: monospace;
}

.center-100 {
    width: 100%;
    text-align: center;
}

/* Navbar */

.nav-personal {
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: -o-linear-gradient(left, rgba(var(--118-medium-dark), 0.95), rgba(var(--118-medium), 0.95));
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--118-medium-dark), 0.95)), to(rgba(var(--118-medium), 0.95)));
    background-image: linear-gradient(to right, rgba(var(--118-medium-dark), 0.95), rgba(var(--118-medium), 0.95));
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-link-personal {
    color: rgba(255, 255, 255, 0.85) !important;
}

.nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.nav-link-personal:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-link:hover {
    background-color: rgba(var(--118-dark), 1);
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-icon {
    width: 20px;
}

/* Dropdown della navbar; si comporta diversamente a seconda della dimensione */

.dropdown-item:hover {
    background-color: rgba(var(--118-dark), 1);
}

.dropdown {
    cursor: pointer;
}

/* Dichiarazioni extra per la navbar e i layout mobile (logo in orizzontale, padding, etc...) */

@media (min-width: 992px) {
    .landscape-logo {
        height: 30px;
        margin-right: 5px;
    }

    .dropdown-menu.nav-personal {
        margin-top: 2.5rem;
    }
}

@media (max-width: 991.8px) {
    .landscape-logo {
        display: none;
    }

    .dropdown-menu.nav-personal {
        background: none;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
    }

    .navbar-collapse {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* Rotazione della freccetta dei dropdown */

.dropdown-toggle[aria-expanded="true"]::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    vertical-align: .128em !important;
}

.dropdown-toggle::after {
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    vertical-align: .128em !important;
}

/* Bottone logo della navbar */

.navbar-logo, .landscape-logo {
    height: 38px;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.navbar-button-personal {
    outline: 0 !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-logo-animate, .landscape-logo:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* Rende gli avatar tondi */

.avatar {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar-medium {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar-tiny {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Titolone di ogni pagina */

.jumbotron {
    font-size: 21px;
    font-weight: 200;
    color: inherit;
    margin-bottom: 0;
    padding: 1rem !important;
    text-align: center;
    background-color: transparent !important;
}

/* Bottoni e input */

.btn-personal {
    background-color: rgba(var(--118-medium-dark), 1);
    color: white;
    white-space: nowrap;
}

.btn-personal:hover {
    background-color: rgba(var(--118-dark), 1);
    color: white;
    white-space: nowrap;
}

.btn-personal:disabled {
    background-color: rgba(100, 100, 100, 1);
    color: white;
    white-space: nowrap;
}

.custom-file {
    cursor: pointer;
}

/* Popup */
.popup-opener {
    cursor: pointer;
}

.popup-window { /* Finestra di login */
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    --input-padding-x: .75rem;
    --input-padding-y: .35rem;
}

.popup {
    overflow-y: auto;
    background-color: rgb(var(--118-light));
    border-radius: 10px;
}

@media (min-width: 992px) {
    .popup {
        max-height: 500px;
        width: 600px;
        padding: 20px;
        margin-top: -250px;
        margin-left: -300px;
        position: absolute;
        left: 50%;
        top: 50%;
    }
}

@media (max-width: 991.8px) {
    .popup {
        width: 100%;
        padding: 2rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
}

/* Animazione del popup */

.animate-in {
    -webkit-animation: animate-zoom-in 0.6s;
    animation: animate-zoom-in 0.6s
}

@-webkit-keyframes animate-zoom-in {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animate-zoom-in {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}


/* Tabelle e ricerca */

.ls-search {
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ls-search > #input {
    width: 100%;
}

@media (min-width: 992px) {
    .table-personal {
        display: table;
        padding: .5em 1em;
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .table-header {
        font-weight: bold;
    }

    .table-header:hover {
        background: none !important;
    }

}

@media (max-width: 991.8px) {
    .table-personal {
        display: block;
        padding: .5em 15%;
    }

    .table-cell {
        padding: .1em 0;
        text-align: center;
    }

    .table-cell > div {
        text-align: left;
    }

    .table-header {
        display: none;
    }

}

.table-personal {
    width: 100%;
    margin: auto;
}

.table-personal:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075);
}

hr {
    display: block;
    position: relative;
    padding: 0;
    height: 0;
    margin: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-bottom: 0.5px solid rgba(170, 170, 170, 0.5);
    border-top: 0.5px solid rgba(170, 170, 170, 0.5);
}

/* Colori */

.green {
    color: #5cb85c;
}

.white {
    color: white;
}

.bg-118-medium-dark {
    background-color: rgba(var(--118-medium-dark), 1);
}

.bg-118-medium {
    background-color: rgba(var(--118-medium), 1);
}

.bg-118-light {
    background-color: rgba(var(--118-light), 1);
}

.bg-118-dark {
    background-color: rgba(var(--118-dark), 1);
}

.bg-118-medium-light {
    background-color: rgba(var(--118-medium-light), 1);
}