:root {
    --118-dark: 0, 153, 230;
    --118-light: 230, 247, 255;
    --118-medium: 51, 187, 255;
    --118-medium-light: 135, 217, 255;
    --118-extra-dark: 0, 76, 115;
    --118-darkest: 0, 32, 48;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(var(--118-light));
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}

.nav-personal {
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: linear-gradient(to right, rgba(var(--118-dark), 0.95), rgba(var(--118-medium), 0.95));
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-logo {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.navbar-logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.focused {
    background-color: rgba(var(--118-medium-light), 0.5);
    border-radius: 10px;
}

.jumbotron {
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    padding: 10px 0;
    text-align: center;
    background-color: transparent !important;
}

.masthead, .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Colors */

.green {
    color: #5cb85c;
}

.white {
    color: white;
}

.bg-118-dark {
    background-color: rgba(var(--118-dark), 1);
}

.bg-118-medium {
    background-color: rgba(var(--118-medium), 1);
}

.bg-118-light {
    background-color: rgba(var(--118-light), 1);
}

.bg-118-extra-dark {
    background-color: rgba(var(--118-extra-dark), 1);
}

.bg-118-medium-light {
    background-color: rgba(var(--118-medium-light), 1);
}