.login_modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    --input-padding-x: .75rem;
    --input-padding-y: .35rem;
}

.login {
    background-color: rgb(var(--118-light));
    border-radius: 10px;
    margin: 150px auto;
    width: 100%;
    max-width: 420px;
    padding: 15px;
}

.hover-button {
    cursor: pointer;
    flex: 20%;
    padding: 3vw;
}

.animate-in {
    -webkit-animation: animate-zoom-in 0.6s;
    animation: animate-zoom-in 0.6s
}

.animate-out {
    -webkit-animation: animate-zoom-out 0.4s;
    animation: animate-zoom-out 0.4s;
}

@-webkit-keyframes animate-zoom-in {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animate-zoom-in {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}