<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>The path where the user avatar images are stored.</description>
        <param-name>avatarsFolder</param-name>
        <param-value>img/avatars</param-value>
    </context-param>
    <context-param>
        <description>The folder where are stored the exported pdfs</description>
        <param-name>pdfFolder</param-name>
        <param-value>pdfs</param-value>
    </context-param>
    <context-param>
        <param-name>smtp-hostname</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>smtp-port</param-name>
        <param-value>465</param-value>
    </context-param>
    <context-param>
        <param-name>smtp-username</param-name>
        <param-value>rewqasdfcxz11@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>smtp-password</param-name>
        <param-value>rewqasdfcxz112</param-value>
    </context-param>
    <!-- Filtri: mapping filtri-classi -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.unitn.web.centodiciotto.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Listener -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.web.centodiciotto.listeners.WebAppContextListener</listener-class>
    </listener>

    <!-- Servlet: mapping nome-pading jsp -->
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserPage</servlet-name>
        <jsp-file>/jsp/user.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordPage</servlet-name>
        <jsp-file>/jsp/password_recovery.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Cookies</servlet-name>
        <jsp-file>/jsp/cookies.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Privacy</servlet-name>
        <jsp-file>/jsp/privacy.jsp</jsp-file>
    </servlet>
    <!-- Patient -->
    <servlet>
        <servlet-name>ExamHistory</servlet-name>
        <jsp-file>/jsp/patient/exam_history.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BookYourExam</servlet-name>
        <jsp-file>/jsp/patient/book_your_exam.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Visits</servlet-name>
        <jsp-file>/jsp/patient/visits.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UnhappyPractitioner</servlet-name>
        <jsp-file>/jsp/patient/unhappy_practitioner.jsp</jsp-file>
    </servlet>
    <!-- General practitioner -->
    <servlet>
        <servlet-name>MyPatientsPractitioner</servlet-name>
        <jsp-file>/jsp/general_practitioner/patients.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VisitsPractitioner</servlet-name>
        <jsp-file>/jsp/general_practitioner/visits.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PrescriptionsPractitioner</servlet-name>
        <jsp-file>/jsp/general_practitioner/prescriptions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VisitsHistoryPractitioner</servlet-name>
        <jsp-file>/jsp/general_practitioner/visit_history.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VisitsCalendarPractitioner</servlet-name>
        <jsp-file>/jsp/general_practitioner/visit_calendar.jsp</jsp-file>
    </servlet>

    <!-- Mapping dei servlet alle classi effettive -->
    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.PasswordChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.LogoutServlet</servlet-class>
    </servlet>

    <!-- Mapping dei servlet, da nome a effettivo url. -->
    <!-- Pagine accessibili a tutti -->
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordPage</servlet-name>
        <url-pattern>/password_recovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/cookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Privacy</servlet-name>
        <url-pattern>/privacy</url-pattern>
    </servlet-mapping>
    <!-- Pagine restricted, comuni a tutti i ruoli -->
    <servlet-mapping>
        <servlet-name>UserPage</servlet-name>
        <url-pattern>/restricted/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/restricted/password_change_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/restricted/logout_handler</url-pattern>
    </servlet-mapping>
    <!-- Patient -->
    <servlet-mapping>
        <servlet-name>ExamHistory</servlet-name>
        <url-pattern>/restricted/patient/exam_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookYourExam</servlet-name>
        <url-pattern>/restricted/patient/book_your_exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visits</servlet-name>
        <url-pattern>/restricted/patient/visits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnhappyPractitioner</servlet-name>
        <url-pattern>/restricted/patient/unhappy_practitioner</url-pattern>
    </servlet-mapping>
    <!-- Practitioner -->
    <servlet-mapping>
        <servlet-name>MyPatientsPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/patients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitsPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/visits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescriptionsPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/prescriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitsHistoryPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/visit_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitsCalendarPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/visit_calendar</url-pattern>
    </servlet-mapping>

    <!-- Config aggiuntive e pagine di errore -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/errors/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/errors/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/errors/404.jsp</location>
    </error-page>

    <!-- Blocco l'accesso diretto alle jsp -->
    <security-constraint>
        <display-name>JSP direct access block</display-name>
        <web-resource-collection>
            <web-resource-name>JSP</web-resource-name>
            <url-pattern>/jsp/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>No direct access</description>
        </auth-constraint>
    </security-constraint>
</web-app>
