<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>The path where the user avatar images are stored.</description>
        <param-name>avatar-folder</param-name>
        <param-value>img/avatars</param-value>
    </context-param>
    <context-param>
        <description>The folder where are stored the exported pdfs</description>
        <param-name>pdf-folder</param-name>
        <param-value>pdfs</param-value>
    </context-param>

    <!-- Filtri: mapping filtri-classi -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.unitn.web.centodiciotto.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Listener -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.web.centodiciotto.listeners.WebAppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Cookies</servlet-name>
        <jsp-file>/jsp/cookies.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Privacy</servlet-name>
        <jsp-file>/jsp/privacy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Privacy</servlet-name>
        <url-pattern>/privacy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User</servlet-name>
        <jsp-file>/jsp/user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/restricted/user</url-pattern>
    </servlet-mapping>

    <!-- Patient -->

    <servlet>
        <servlet-name>Tickets</servlet-name>
        <jsp-file>/jsp/patient/tickets-p.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tickets</servlet-name>
        <url-pattern>/restricted/patient/tickets</url-pattern>
    </servlet-mapping>

    <!-- General practitioner -->
    <servlet>
        <servlet-name>PrescriptionsPractitioner</servlet-name>
        <jsp-file>/jsp/general_practitioner/prescriptions-gp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionsPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/prescriptions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VisitsPractitioner</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.practitioner.VisitRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitsPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/visits</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VisitsHistoryPractitioner</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.practitioner.VisitHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitsHistoryPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/visit_history</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VisitsCalendarPractitioner</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.practitioner.VisitCalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitsCalendarPractitioner</servlet-name>
        <url-pattern>/restricted/general_practitioner/visit_calendar</url-pattern>
    </servlet-mapping>


    <!-- Specialized doctor -->
    <servlet>
        <servlet-name>ExamsCalendarSpecializedDoctor</servlet-name>
        <jsp-file>/jsp/specialized_doctor/exam_calendar-sd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamsCalendarSpecializedDoctor</servlet-name>
        <url-pattern>/restricted/specialized_doctor/exam_calendar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExamsHistorySpecializedDoctor</servlet-name>
        <jsp-file>/jsp/specialized_doctor/exam_history-sd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamsHistorySpecializedDoctor</servlet-name>
        <url-pattern>/restricted/specialized_doctor/exam_history</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExamsRequestSpecializedDoctor</servlet-name>
        <jsp-file>/jsp/specialized_doctor/exam_request-sd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamsRequestSpecializedDoctor</servlet-name>
        <url-pattern>/restricted/specialized_doctor/exam_request</url-pattern>
    </servlet-mapping>

    <!-- Health Service -->
    <servlet>
        <servlet-name>PrescriptionsHealthService</servlet-name>
        <jsp-file>/jsp/health_service/prescriptions-hs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionsHealthService</servlet-name>
        <url-pattern>/restricted/health_service/prescriptions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecallsHealthService</servlet-name>
        <jsp-file>/jsp/health_service/recalls-hs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecallsHealthService</servlet-name>
        <url-pattern>/restricted/health_service/recalls</url-pattern>
    </servlet-mapping>

    <!-- Chemist -->
    <servlet>
        <servlet-name>PrescriptionsChemist</servlet-name>
        <jsp-file>/jsp/chemist/prescriptions-c.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionsChemist</servlet-name>
        <url-pattern>/restricted/chemist/prescriptions</url-pattern>
    </servlet-mapping>

    <!-- Servlet tra più ruoli -->
    <servlet>
        <servlet-name>PatientsList</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.shared.PatientsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientsList</servlet-name>
        <url-pattern>/restricted/general_practitioner/patients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientsList</servlet-name>
        <url-pattern>/restricted/health_service/patients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientsList</servlet-name>
        <url-pattern>/restricted/specialized_doctor/patients</url-pattern>
    </servlet-mapping>

    <!-- Servlet senza JSP (POST-only) -->
    <servlet>
        <servlet-name>RequestPasswordResetServlet</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.RequestPasswordResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestPasswordResetServlet</servlet-name>
        <url-pattern>/request_password_reset</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.patient.PhotoUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <url-pattern>/restricted/photo_upload_handler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.PasswordChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/restricted/password_change_handler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unitn.web.centodiciotto.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/restricted/logout_handler</url-pattern>
    </servlet-mapping>

    <!-- Config aggiuntive e pagine di errore -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/errors/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/errors/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/jsp/errors/405.jsp</location>
    </error-page>

    <!-- Blocco l'accesso diretto alle jsp -->
    <security-constraint>
        <display-name>JSP direct access block</display-name>
        <web-resource-collection>
            <web-resource-name>JSP</web-resource-name>
            <url-pattern>/jsp/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>No direct access</description>
        </auth-constraint>
    </security-constraint>
</web-app>
