# IntelliJ, VSCode, macOS Files
.idea/
.settings/
target/
out/
etc/

*.iml
.DS_Store
.classpath
.project

src/main/resources/database.properties
src/main/resources/email.properties

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.nar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Non-web graphic files
*.ai
*.psd