# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.vscode

# IntelliJ, VSCode, macOS Files
.idea/
.settings/
target/
out/
etc/

*.iml
.DS_Store
.classpath
.project

/src/main/resources/
/rs/img/avatars/
/sql/12_data.sql
/sql/10_init.sql

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.nar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Non-web graphic files
*.ai
*.psd