.focused {
    background-color: #cde0f4;
    border-radius: 10px;
}

.login_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.login {
    background-color: #cde0f4;
    border-radius: 10px;
}

.hv_button {
    cursor: pointer;
    flex: 20%;
    padding: 3vw;
}
/*
    .close_button {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close_button:hover,
    .close_button:focus {
        color: red;
        cursor: pointer;
    }*/

.animate-in {
    -webkit-animation: animate-zoom-in 0.6s;
    animation: animate-zoom-in 0.6s
}

.animate-out {
    -webkit-animation: animate-zoom-out 0.4s;
    animation: animate-zoom-out 0.4s;
}

@-webkit-keyframes animate-zoom-in {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animate-zoom-in {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@-webkit-keyframes animate-zoom-out {
    from {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(0)
    }
}

@keyframes animate-zoom-out {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}
