/* Extra spacing for the Home Page */

.container {
    padding: 40px 0;
}

.page-section,.masthead {
    width: 100%;
}

.masthead, .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 991.8px) {
    .container.h-100 {
        overflow-x: hidden;
    }
}

/* Il footer fa cagare con quei colori in home page, va cambiato. */

footer > .container {
    padding: 0;
}

footer {
    background: none !important;
    color: rgb(var(--118-dark)) !important;
    margin-top: 0 !important;
}

footer a {
    color: rgb(var(--118-dark)) !important;
    font-weight: bold !important;
}

/* The following CSS is picked up from a default Bootstrap template. */

#portfolio .container-fluid {
    max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: rgba(var(--118-dark), 1);
    background-color: rgba(var(--118-light), 0.8);
    -webkit-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(var(--118-darkest), 1);
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background-image: url("../img/landing-page-bg.jpg");
    -webkit-box-shadow: inset 0 0 0 1000px rgba(var(--118-medium-light), 0.2);
    box-shadow: inset 0 0 0 1000px rgba(var(--118-medium-light), 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1 {
    font-size: 2.25rem;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}