/* Bottoni dei vari utenti */

@media (min-width: 992px) {
    .icon-container {
        place-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .hover-button {
        margin: 2vw;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .icon-container {
        place-content: center;
        margin-left: 2em;
        margin-right: 2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .hover-button {
        margin: 2vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .icon-container {
        place-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .hover-button {
        margin: 2vw;
    }
}

@media (max-width: 575.98px) {
    .icon-container {
        display: block;
    }

    .hover-button {
        margin: 4vw;
    }
}

.icon-container {
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.hover-button {
    cursor: pointer;
}

.hover-button:hover {
    font-weight: bold;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.icon {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border: 4px solid rgba(var(--118-dark), 0.75) !important;
}

.mini-icon {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid rgba(var(--118-dark), 0.75) !important;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}