<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>The folder where the user avatar images are saved.</description>
        <param-name>avatar-folder</param-name>
        <param-value>img/avatars</param-value>
    </context-param>
    <context-param>
        <description>The folder where PDF files are saved.</description>
        <param-name>pdf-folder</param-name>
        <param-value>pdf</param-value>
    </context-param>
    <context-param>
        <description>The folder where Excel files are saved.</description>
        <param-name>excel-folder</param-name>
        <param-value>xls</param-value>
    </context-param>

    <!-- Pages directly served to the user -->
    <servlet>
        <servlet-name>Cookies</servlet-name>
        <jsp-file>/jsp/cookies.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Privacy</servlet-name>
        <jsp-file>/jsp/privacy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Privacy</servlet-name>
        <url-pattern>/privacy</url-pattern>
    </servlet-mapping>

    <!-- Session duration and error pages -->
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/errors/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/errors/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/jsp/errors/405.jsp</location>
    </error-page>

    <!-- Direct access block to /jsp and /pdf -->
    <security-constraint>
        <display-name>JSP direct access block</display-name>
        <web-resource-collection>
            <web-resource-name>JSP</web-resource-name>
            <url-pattern>/jsp/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>No direct access</description>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>PDF direct access block</display-name>
        <web-resource-collection>
            <web-resource-name>PDF</web-resource-name>
            <url-pattern>/pdf/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>No direct access</description>
        </auth-constraint>
    </security-constraint>
</web-app>
